
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/AmericanNight.jpg');
    background-size: cover; 
    background-position: center;
    height: 100vh;
    color: #fff; 
  }
  